<div class='c-subscribe'>
  <div class='o-grid'>
    <div class='o-grid__col o-grid__col o-grid__col--3-4-m o-grid__col--3-4-l o-grid__col--center'>
      <h5 class='u-text-center'>{{t 'Enter your email below to join our newsletter' }}</h5>
      {{> subscribe-form inputLabel='subscribe-email-post'}}
    </div>
  </div>
</div>

<hr>