<div class='c-subscribe'>
  <div class='o-grid'>
    <div class='o-grid__col o-grid__col o-grid__col--3-4-m o-grid__col--3-4-l o-grid__col--center'>
      <h5>Join the Newsletter to Receive the Latest Updates in Your Inbox.</h5>

      {{  subscribe_form
          form_class='c-subscribe-form'
          input_class='c-subscribe-form__input'
          placeholder='Email'
          button_class='c-subscribe-form__btn c-btn c-btn--full'
      }}
    </div>
  </div>
</div>

<hr>