<!--
  Get related posts based on tags
-->

{{#get 'posts' limit='3' include='authors' filter='tags:[{{post.tags}}]+id:-{{post.id}}' as |related-posts|}}
  {{#if related-posts}}
    <div class='c-related'>
      <div class='o-grid'>
        <div class='o-grid__col o-grid__col--full'>
          <h5 class='c-related__title'>{{t 'You Might Be Interested In' }}</h5>
        </div>
        {{#foreach related-posts}}
          {{> post-card}}
        {{/foreach}}
      </div>
    </div>
  {{/if}}
{{/get}}