/*------------------------------------*\
  Elements > hr
\*------------------------------------*/

hr {
  height: 1px;
  width: 100%;
  border: 0;
  margin: double($base-spacing-unit) 0;
  background-color: $color-border;
}