<div class='c-widget'>
  <h3 class='c-widget__title'>{{t 'Follow' }}</h3>
  <ul class='c-widget-social o-plain-list'>
    {{# if @site.twitter}}
      <li class='c-widget-social__item'>
        <a href='{{ twitter_url }}' class='c-widget-social__link' aria-label='Twitter' target='_blank' rel='noopener'>
          <span data-icon='ei-sc-twitter' class='c-widget-social__icon' data-size='s'></span>
        </a>
      </li>
    {{/if}}
    {{# if @site.facebook}}
      <li class='c-widget-social__item'>
        <a href='{{ facebook_url }}' class='c-widget-social__link' aria-label='Facebook' target='_blank' rel='noopener'>
          <span data-icon='ei-sc-facebook' class='c-widget-social__icon' data-size='s'></span>
        </a>
      </li>
    {{/if}}
    <li class='c-widget-social__item'>
      <a href='#' class='c-widget-social__link' aria-label='Instagram' target='_blank' rel='noopener'>
        <span data-icon='ei-sc-instagram' class='c-widget-social__icon' data-size='s'></span>
      </a>
    </li>
    <li class='c-widget-social__item'>
      <a href='#' class='c-widget-social__link' aria-label='Pinterest' target='_blank' rel='noopener'>
        <span data-icon='ei-sc-pinterest' class='c-widget-social__icon' data-size='s'></span>
      </a>
    </li>
    <li class='c-widget-social__item'>
      <a href='#' class='c-widget-social__link' aria-label='Google Plus' target='_blank' rel='noopener'>
        <span data-icon='ei-sc-google-plus' class='c-widget-social__icon' data-size='s'></span>
      </a>
    </li>
    <li class='c-widget-social__item'>
      <a href='#' class='c-widget-social__link' aria-label='Vimeo' target='_blank' rel='noopener'>
        <span data-icon='ei-sc-vimeo' class='c-widget-social__icon' data-size='s'></span>
      </a>
    </li>
    <li class='c-widget-social__item'>
      <a href='#' class='c-widget-social__link' aria-label='YouTube' target='_blank' rel='noopener'>
        <span data-icon='ei-sc-youtube' class='c-widget-social__icon' data-size='s'></span>
      </a>
    </li>
  </ul>
</div>