<div class='c-widget'>
  <h3 class='c-widget__title'>Instagram</h3>
  {{!-- To generate new code for you account, please use http://instansive.com/ --}}
  <script src='//lightwidget.com/widgets/lightwidget.js'></script><iframe src='//lightwidget.com/widgets/df50ef7dc89653c9b81b2f6b68df7ad3.html' scrolling='no' allowtransparency='true' class='lightwidget-widget' style='width: 100%; border: 0; overflow: hidden;'></iframe>
</div>