<div class='c-widget'>
  <h3 class='c-widget__title'>Recent Tweets</h3>

  <a class='twitter-timeline' data-chrome="noheader nofooter noborders" data-height='400' href='https://twitter.com/aspirethemes'>Tweets by aspirethemes</a> <script async src='//platform.twitter.com/widgets.js' charset='utf-8'></script>
</div>