/*------------------------------------*\
  Components > Content
\*------------------------------------*/

.c-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: $font-serif;

  @include mq($until: tablet) {
    img {
      max-width: 100vw;
      pointer-events: none;
    }
  }

  a:not(.c-btn) {
    text-decoration: underline;
    text-decoration-skip: ink;

    @include attention() {
      color: $color-brand;
    }
  }

  address,
  h1, h2, h3, h4, h5, h6,
  p, pre,
  dl, ol, ul,
  form,
  table,
  fieldset,
  .footnotes,
  .cp_embed_wrapper {
    min-width: 100%;
    margin-bottom: double($base-spacing-unit);
  }

  h1,
  h2,
  h3,
  h4 {
    font-family: $font-sans-serif;
    font-weight: $font-weight-regular;
    margin-bottom: half($base-spacing-unit);
  }

  dd,
  ol,
  ul {
    // Target Safari Only
    &:not(:root:root) {
      -webkit-padding-start: half($base-spacing-unit);
    }
  }
}

// Koenig Editor

.kg-embed-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 100%;
}

.kg-card {
  margin-bottom: double($base-spacing-unit);
}

.kg-card figcaption {
  width: 100%;
  text-align: center;
  color: $color-gray;
  font-size: $font-size-small;
  font-family: $font-sans-serif;
  font-weight: $font-weight-regular;
  line-height: $line-height-small;
  margin-top: half($base-spacing-unit) + half(quarter($base-spacing-unit));
  padding-left: half($base-spacing-unit) + half(quarter($base-spacing-unit));
  padding-right: half($base-spacing-unit) + half(quarter($base-spacing-unit));
}

.is-page .c-content {
  .kg-width-full .kg-image {
    @include mq($from: tablet) {
      max-width: 100vw;
      pointer-events: none;
    }
  }

  .kg-width-wide .kg-image {
    @include mq($from: tablet) {
      max-width: 75vw;
    }

    @include mq($from: desktop) {
      max-width: 65vw;
    }
  }
}